ServerLogEventiXML/log.xsd

<?xml version="1.0" encoding="UTF-8"?>
<!-- log.xsd -->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="RecordLogEventoXML">
        <xs:complexType>
            <xs:simpleContent>
                <xs:extension base="xs:string">
                    <xs:attribute type="xs:string" name="applicazione"/>
                    <xs:attribute type="xs:string" name="IPclient"/>
                    <xs:attribute type="xs:string" name="timestamp"/>
		    <xs:attribute type="xs:string" name="evento"/>
                </xs:extension>
            </xs:simpleContent>
        </xs:complexType>
    </xs:element>
</xs:schema>